@font-face {
    font-family: BrownFox;
    src: url('./Assets/Brown Fox.ttf');
}


/*nav bar not fixing to top of screen*/
.navbar{
    position: fixed;
    top: 0;
    width: 100%;
}

.quicklinks {
    padding: 10px;
}

.form {
    padding: 10px;
}

.card {
    margin-bottom: 10px;
}

#sidebar {
    background-color: #343a40;
    padding: 20px;
}

#sidebar > h4 {
    color: #17a2b8;
    font-family: BrownFox;
}

#quicklinks-content > a{
    color: #17a2b8;
}
#footer {
    background-color: #4f5963;
    height: 125px;
}

#footer-content > a{
    text-align: center;
}

#findus{
    font-family: BrownFox;
    text-transform: uppercase;
    color: white;
    font-weight: lighter;
    text-align: center;
    padding-top: 13px;
    margin: 0px;
}

input[type=text] {
    width: 150px;
    -webkit-transition: width 0.8s ease-in-out;
    transition: width 0.8s ease-in-out;
}

input[type=text]:focus {
    width: 100%;
}

@media screen and (min-width: 768px) {
    #main {
        padding-top: 20px;
    }
}

@media screen and (max-width: 767px) {
    #article1 {
        margin-top: 10px;
    }
}




